<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактирование пользователя</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <header>
        <h1>Редактирование данных</h1>
    </header>
    <form method="POST">
        <label for="name">Имя:</label>
        <input type="text" id="name" name="name" value="{{ user.name }}" required>
        
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required>
        
        <button type="submit">Сохранить изменения</button>
    </form>
    <p><a href="{{ url_for('lab4.user_list') }}">Назад к списку пользователей</a></p>
</body>
</html>