<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>Список пользователей</title>
</head>
<body>
    <h2>Список пользователей</h2>
    <ul>
        {% for user in users %}
        <li>
            {{ user.name }} ({{ user.username }})
            <form action="{{ url_for('lab4.delete_user', username=user.username) }}" method="POST" style="display:inline;">
                <button type="submit">Удалить себя</button>
            </form>
            <a href="{{ url_for('lab4.edit_user', username=user.username) }}">Редактировать</a>
        </li>
        {% endfor %}
    </ul>
    <p><a href="{{ url_for('lab4.logout') }}">Выйти</a></p>
</body>
</html>