<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактирование статьи</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <header>
        <h1>Редактирование статьи</h1>
        <a href="{{ url_for('lab5.lab') }}">Вернуться в меню</a>
    </header>
    <main>
        <form method="post">
            <div>
                <label>Название статьи:
                    <input type="text" name="title" value="{{ article['title'] }}" maxlength="50" required>
                </label>
            </div>
            <div>
                <textarea name="article_text" required>{{ article['article_text'] }}</textarea>
            </div>
            <div>
                <label>
                    <input type="checkbox" name="is_public" {% if article['is_public'] %}checked{% endif %}> Сделать статью публичной
                </label>
            </div>
            <div>
                <label>
                    <input type="checkbox" name="is_favorite" {% if article['is_favorite'] %}checked{% endif %}> Добавить в избранное
                </label>
            </div>
            <div>
                <button type="submit">Сохранить</button>
            </div>
        </form>
        {% if error %}
            <div style="color: red;">{{ error }}</div>
        {% endif %}
    </main>
</body>
</html>