<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% if name %}
            {{ name }},
        {% else %}
            Аноним,
        {% endif %}Лабораторная работа {{ lab_number }}
    </title>
    <link rel="stylesheet" href="{{url_for('static', filename="main.css") }}" />
</head>

<body>
    <header>
        WEB-программирование, часть 2. Лабораторная работа №2
    </header>
    
    <main>
        Основной контент
    </main>

    <footer>
        &copy;
        {% if name %}
        {{ name }},
    {% else %}
        Аноним,
    {% endif %}

    {% if student_group %}
        {{ student_group }},
    {% else %}
        Нет группы,
    {% endif %}

    {% if student_course %}
        {{ student_course }} курс,
    {% else %}
        Курс не указан,
    {% endif %}
    2024
    </footer>
</body>
</html>