{% extends "base.html" %}

{% block lab %}Лабораторная работа 8{% endblock %}

{% block main %}
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <h1>Создание статьи</h1>

    <form action="/lab8/create" method="post">
        <div>
            <label>
                Название статьи: <input type="text" name="title" required>
            </label>
        </div>

        <div>
            <label>
                Текст статьи: <textarea name="article_text" required></textarea>
            </label>
        </div>

        <div>
            <label>
                Публичная: <input type="checkbox" name="is_public" value="1">
            </label>
        </div>

        <div>
            <label>
                Избранная: <input type="checkbox" name="is_favorite" value="1">
            </label>
        </div>

        <button type="submit">Создать</button>
        <div class="error">{{ error }}</div>
    </form>

    <a href="/lab8/" class="back-button">Назад</a>
{% endblock %}